div{
    margin: 5%;
    padding: 5%;
  
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 40px 0px rgb(192, 246, 141);
    border-radius: 10px ;
    background-color: rgb(250, 191, 169);

}
tr{
    margin: 5%;
    padding: 5%; 
    border: 5px solid rgb(248, 6, 6);
}
td{
    margin: 15%;
    padding: 5%;
    
}
#result{
        padding: 0.5vh;
    margin: 0.5vh;
    align-items: center;
    text-align: center;
    
    width: fit-content;
    border:1px solid black ;
    font-size: larger;
     border-radius: 5px;
     background-color: rgb(255, 211, 211);
}
input{
    width: 90% ;
    padding: 0.5vh;
    margin: 0.5vh;
    border-radius: 5px;
    font-size: larger;
}